<div *ngIf = "isNotProfilePage;  else isProfilePage">
    <!-- <ng-template #isLogin> -->
        <router-outlet></router-outlet>
    <!-- </ng-template> -->
    </div>
    <ng-template #isProfilePage>
        <div id="profile">
            <h4>Profile</h4>
            <hr/>
                <div class = "card">
                    <div class="card-body">
                        <h4>Username: {{userProfile?.user?.username}}</h4>
                        <h4>Name: {{userProfile?.name}}</h4>
                        <p>Profile link: {{userProfile?.profileLink}}</p>
                        <!-- <button (click)="openEditForm(i)" class="edit btn btn-outline-dark"
                            data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                            title="Edit">&#xE254;</i></button> -->
                    </div>
                </div>
            <hr/>
        </div>
        
        <div id="create-task">
            <form novalidate [formGroup] = "userProfileForm" id="form">
                <div class="space"></div>
                <div class="form-group">
                    <h6>Name</h6>
                    <input type="text" formControlName= "name" class="form-control" placeholder="Name...">
                </div>
                <div class="form-group">
                    <h6>ProfileLink</h6>
                    <input type="text" formControlName="profileLink" class="form-control" placeholder="Link...">
                </div>
                <button type="submit" class="btn btn-warning" (click) = "updateProfile()">Update</button>
            </form>
        </div>
    </ng-template>