<div id="global-properties">
    <h4>GLOBAL PROPERTIES</h4>
    <hr/>
        <ul *ngFor="let i of globalProperties">
            <li>
                <div class = "card">
                    <div class="card-body">
                        <h4>Name: {{i?.name}}</h4>
                        <p>Datatype: {{i?.datatype?.name}}</p>
                        <p>Value: {{i?.value}}</p>
                        <p>Description: {{i?.description}}</p>
                        <h6>Creator: {{i?.creator?.username}}</h6>
                        <p>Voided: {{i?.voided}}</p>
                    </div>
                </div>
            </li>
        </ul>
    <hr/>
</div>
<div id="job-field">
    <h4>JOB FIELDS</h4>
    <hr/>
        <ul *ngFor="let i of jobFields">
            <li>
                <div class = "card">
                    <div class="card-body">
                        <h4>Name: {{i?.name}}</h4>
                        <p>Description: {{i?.description}}</p>
                        <h6>Creator: {{i?.creator?.username}}</h6>
                        <p>Voided: {{i?.voided}}</p>
                    </div>
                </div>
            </li>
        </ul>
    <hr/>
</div>
<div id="package">
    <h4>PACKAGES</h4>
    <hr/>
        <ul *ngFor="let i of packages">
            <li>
                <div class = "card">
                    <div class="card-body">
                        <h4>Name: {{i?.name}}</h4>
                        <p>Description: {{i?.description}}</p>
                        <h6>Creator: {{i?.creator?.username}}</h6>
                        <p>Voided: {{i?.voided}}</p>
                    </div>
                </div>
            </li>
        </ul>
    <hr/>
</div>
<div id="product-level">
    <h4>PRODUCT LEVELS</h4>
    <hr/>
        <ul *ngFor="let i of productLevels">
            <li>
                <div class = "card">
                    <div class="card-body">
                        <h4>Name: {{i?.name}}</h4>
                        <p>Order condition: {{i?.orderCondition}}</p>
                        <p>Rate condition: {{i?.rateCondition}}</p>
                        <p>Description: {{i?.description}}</p>
                        <h6>Creator: {{i?.creator?.username}}</h6>
                        <p>Voided: {{i?.voided}}</p>
                    </div>
                </div>
            </li>
        </ul>
    <hr/>
</div>

