<div id="events">
    <h4>EVENTS</h4>
    <hr/>
        <ul *ngFor="let i of events">
            <li>
                <div class = "card">
                    <div class="card-body">
                        <h4>Name: {{i?.name}}</h4>
                        <p>Content: {{i?.content}}</p>
                        <p>Startdate: {{i?.startDate}}</p>
                        <p>Enddate: {{i?.endDate}}</p>
                        <h6>Creator: {{i?.creator?.username}}</h6>
                        <p>Voided: {{i?.voided}}</p>
                        <button (click)="openEditForm(i)" class="edit btn btn-outline-dark"
                            data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                            title="Edit">&#xE254;</i></button>
                        <button (click) = "voidedEvent(i)" class="btn btn-danger"></button>
                    </div>
                </div>
            </li>
        </ul>
    <hr/>
</div>

<div id="create-event">
    <form novalidate [formGroup] = "eventForm" id="form">
        <div class="space"></div>
        <div class="form-group">
            <h6>Name</h6>
            <input type="text" formControlName="name" class="form-control" placeholder="Name...">
        </div>
        <div class="form-group">
            <h6>Content</h6>
            <input type="text" formControlName="content" class="form-control" placeholder="Content...">
        </div>
        <div class="form-group">
            <h6>Startdate</h6>
            <input type="datetime" formControlName= "startDate" class="form-control" placeholder="Start date...">
        </div>
        <div class="form-group">
            <h6>Enddate</h6>
            <input type="datetime" formControlName= "endDate" class="form-control" placeholder="End date...">
        </div>
        <button type="submit" class="btn btn-success" (click) = "createEvent()">Create</button>
        <button type="submit" class="btn btn-warning" (click) = "updateEvent()">Update</button>
    </form>
</div>
