

<div class="vertical-nav bg-white" id="sidebar">

    <div class="py-4 px-3 mb-4 bg-white">
        <div class="media d-flex align-items-center">
            <div class="media-body">
                <div *ngIf = "isLogin;  else isntLoginHeader">
                <!-- <ng-template #isLogin> -->
                    <h4>{{username}}</h4>
                    <p>{{role}}</p>
                <!-- </ng-template> -->
                </div>
                <ng-template #isntLoginHeader>
                    <h4>Overthink</h4>
                    <p>Where're you gonna be?</p>
                </ng-template>
            </div>
        </div>
    </div>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
           <hr>
        </li>
        <li class="nav-item">
            <a href="/profile" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Profile
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Offer
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Course
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Order
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Request
            </a>
        </li>
        <li class="nav-item">
            <hr>
         </li>
    </ul>

    <ul class="nav flex-column bg-white mb-0" *ngFor = "let i of jobFieldList">
        <li class="nav-item">
            <a href="#" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                {{i?.name}}
            </a>
        </li>
    </ul>  
</div>

<div id="header-of-header">
    <ul class="nav list-inline mb-0" id ="menu-header-of-header">
        <div *ngIf = "isLoginAdmin;  else isntLoginAdmin">
            <!-- <ng-template #isLogin> -->
                <li class="nav-item">
                    <a href="/system" class="nav-link text-light">
                   <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    System
                </a>
            </li>
            <!-- </ng-template> -->
            </div>
            <ng-template #isntLoginAdmin>
                
            </ng-template>
        <li class="nav-item">
            <a href="#" class="nav-link text-light">
                <i class="fa fa-th-large mr-2 text-primary fa-fw"></i>
                Events
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Messages
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Notifications
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Community
            </a>
        </li>
        <div *ngIf = "isLogin;  else isntLogin">
        <!-- <ng-template #isLogin> -->
            <li class="nav-item">
                <a href = "#" class="nav-link text-light" (click) = "logout()">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    Logout
                </a>
            </li>
        <!-- </ng-template> -->
        </div>
        <ng-template #isntLogin>
            <li class="nav-item">
                    <a href="/authentication" class="nav-link text-light">
                   <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    Register
                </a>
            </li>
        </ng-template>
    </ul>
</div>
