<div class="container-fluid">
    <div class="px-lg-5">
      
        <div class="space"></div>
        <h5>Courses</h5>
        <div class="row" >
            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4" *ngFor="let i of courseList">
              <div class="bg-white rounded shadow-sm">
                <div class="p-4 course">
                  <h5> <a href="#" class="text-dark">{{i?.name}}</a></h5>
                  <p class="small text-muted mb-0">{{i?.content}}</p>
                  <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                    <p class="small mb-0"><i class="fa fa-picture-o mr-2">
                      </i><span class="font-weight-bold">
                        Check</span>
                    </p>
                    <button class="btn btn-danger px-3 rounded-pill font-weight-normal" (click)="openOrderCourseForm(i)">Order</button>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="space"></div>
        <h5>Offers</h5>
        <div class="row">
            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4" *ngFor="let i of offerList">
              <div class="bg-white rounded shadow-sm">
            
                <div class="p-4">
                  <h5> <a href="#" class="text-dark">{{i?.name}}</a></h5>
                  <p class="small text-muted mb-0">{{i?.content}}</p>
                  <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                    <p class="small mb-0"><i class="fa fa-picture-o mr-2">
                    </i><span class="font-weight-bold">
                      Check</span>
                  </p>
                  <button class="btn btn-danger px-3 rounded-pill font-weight-normal" (click)="openOrderOffersForm(i)">Order</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      
    </div>
</div>
