<div id="activity-type">
    <h4>ACTIVITY TYPE</h4>
    <hr/>
        <ul *ngFor="let i of activityTypes">
            <li>
                <div class = "card">
                    <div class="card-body">
                        <h4>Name: {{i?.name}}</h4>
                        <p>Description: {{i?.description}}</p>
                        <h6>Creator: {{i?.creator?.username}}</h6>
                        <p>Voided: {{i?.voided}}</p>
                    </div>
                </div>
            </li>
        </ul>
    <hr/>
</div>
<div id="contact-type">
    <h4>CONTACT TYPES</h4>
    <hr/>
        <ul *ngFor="let i of contactTypes">
            <li>
                <div class = "card">
                    <div class="card-body">
                        <h4>Name: {{i?.name}}</h4>
                        <p>Datatype: {{i?.datatype?.name}}</p>
                        <h6>Creator: {{i?.creator?.username}}</h6>
                        <p>Voided: {{i?.voided}}</p>
                    </div>
                </div>
            </li>
        </ul>
    <hr/>
</div>
<div id="datatype">
    <h4>DATATYPES</h4>
    <hr/>
        <ul *ngFor="let i of datatypes">
            <li>
                <div class = "card">
                    <div class="card-body">
                        <h4>Name: {{i?.name}}</h4>
                        <p>Description: {{i?.description}}</p>
                        <h6>Creator: {{i?.creator?.username}}</h6>
                        <p>Voided: {{i?.voided}}</p>
                    </div>
                </div>
            </li>
        </ul>
    <hr/>
</div>
<div id="task-type">
    <h4>TASK TYPES</h4>
    <hr/>
        <ul *ngFor="let i of taskTypes">
            <li>
                <div class = "card">
                    <div class="card-body">
                        <h4>Name: {{i?.name}}</h4>
                        <p>Description: {{i?.description}}</p>
                        <h6>Creator: {{i?.creator?.username}}</h6>
                        <p>Voided: {{i?.voided}}</p>
                    </div>
                </div>
            </li>
        </ul>
    <hr/>
</div>
<div id="transaction-type">
    <h4>TRANSACTION TYPES</h4>
    <hr/>
        <ul *ngFor="let i of transactionTypes">
            <li>
                <div class = "card">
                    <div class="card-body">
                        <h4>Name: {{i?.name}}</h4>
                        <p>Description: {{i?.description}}</p>
                        <h6>Creator: {{i?.creator?.username}}</h6>
                        <p>Voided: {{i?.voided}}</p>
                    </div>
                </div>
            </li>
        </ul>
    <hr/>
</div>
<div id="notification-type">
    <h4>NOTIFICATION TYPES</h4>
    <hr/>
        <ul *ngFor="let i of notificationTypes">
            <li>
                <div class = "card">
                    <div class="card-body">
                        <h4>Name: {{i?.name}}</h4>
                        <p>Description: {{i?.description}}</p>
                        <h6>Creator: {{i?.creator?.username}}</h6>
                        <p>Voided: {{i?.voided}}</p>
                    </div>
                </div>
            </li>
        </ul>
    <hr/>
</div>
