#sidebar{
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: rgba(72,187,121,100);
    box-shadow: 0em 0em 1em 1em rgba(0,0,0, 0.1);
    z-index: 9;
    color: white;
}

#main-system{
    position: absolute;
    left: 25%;
}


