<div class = "vertical-nav" id = "sidebar">
    <div class="py-4 px-4 mb-4">
        <div class="media">
            <div class="media-body">
                <h4 class="m-0">North</h4>
                <p class="font-weight-normal mb-0">Full-stack baby</p>
            </div>
        </div>
    </div>

    <ul class="nav flex-column mb-0">
        <li class="nav-item">
           <hr>
        </li>
        <li class="nav-item">
            <a href="/system" class="nav-link text-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Web
            </a>
        </li>
        <li class="nav-item">
            <a href="/system/properties" class="nav-link text-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Web System
            </a>
        </li>
        <li class="nav-item">
            <a href="/system/event" class="nav-link text-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Events
            </a>
        </li>
        <li class="nav-item">
            <a href="/system/task" class="nav-link text-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Task
            </a>
        </li>
    </ul>
</div>
<div id = "main-system">
    <router-outlet></router-outlet>
</div>

