<div id="form-contain">
    <form novalidate (ngSubmit) = "register()" [formGroup] = "registerForm" id="form">
        <div class="space"></div>
        <div class="form-group">
            <h6>Email</h6>
            <input type="email" formControlName="registeredEmail" class="form-control" placeholder="Email...">
        </div>
        <div class="form-group">
            <h6>Username</h6>
            <input type="text" formControlName="username" class="form-control" placeholder="username...">
        </div>
        <div class="form-group">
            <h6>Password</h6>
            <input type="password" formControlName= "password" class="form-control" placeholder="password...">
        </div>
        <div class="form-group">
            <h6>Secret question</h6>
            <input type="text" formControlName= "secretQuestion" class="form-control" placeholder="question...">
        </div>
        <div class="form-group">
            <h6>Secret answer</h6>
            <input type="password" formControlName= "secretAnswer" class="form-control" placeholder="answer...">
        </div>
        <button type="submit" class="btn" id="button-submit">Register</button>
        <button class="btn btn-success" id="button-login"><a href="/authentication/login">Login</a></button>
    </form>
</div>
