
#form-contain input{
    width: 70%;
}

#button-submit{
    margin-top: 2%;
    background-color: rgba(255,116,61,1000);
}

#button-login{
    margin-top: 2%;
    margin-left: 5%;
}

#button-login a{
    text-decoration: none;
    color: black;
}