<div id="offers" class ="row">
    <div class="col-lg row" >
        <!-- Gallery item -->
        <div class="col-lg-6 " *ngFor="let i of offers">
          <div class="bg-white rounded shadow-sm">
            <div>
              <h5> <a href="#" class="text-dark">{{i?.name}}</a></h5>
              <p class="small text-muted mb-0">{{i?.content}}</p>
              <button (click)="openEditForm(i)" class="edit btn btn-outline-dark"
                            data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                            title="Edit">&#xE254;</i></button>
              <button (click) = "voidedOffer(i)" class ="btn btn-danger">Voided</button>
            </div>
          </div>
        </div>

        <div id="create-task">
            <form novalidate [formGroup] = "offerForm" id="form">
                <div class="space"></div>
                <div class="form-group">
                    <h6>Name</h6>
                    <input type="text" formControlName= "name" class="form-control" placeholder="Name...">
                </div>
                <div class="form-group">
                    <h6>Content</h6>
                    <input type="text" formControlName="content" class="form-control" placeholder="Content...">
                </div>
                <div class="form-group">
                    <h6>Job</h6>
                    <input type="text" formControlName= "job" class="form-control" placeholder="Job...">
                </div>
                <button type="submit" class="btn btn-success" (click) = "createOffer()">Create</button>
                <button type="submit" class="btn btn-warning" (click) = "updateOffer()">Update</button>
            </form>
        </div>
    </div>

    <div class="col-lg row" >
        <!-- Gallery item -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4" *ngFor="let i of jobs">
          <div class="bg-white rounded shadow-sm">
            <div class="p-4 course">
              <h5> <a href="#" class="text-dark">{{i?.name}}</a></h5>
              <button (click)="openCreateForm(i)" class="edit btn btn-outline-dark"
                            data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                            title="Edit">&#xE254;</i></button>
            </div>
          </div>
        </div>
    </div>
</div>
