<div id="orders">
    <h4>ORDERS</h4>
    <hr/>
        <ul *ngFor="let i of orders">
            <li>
                <div class = "card">
                    <div class="card-body">
                        <h4>Buyer: {{i?.buyer}}</h4>
                        <p>Seller: {{i?.seller}}</p>
                        <p>Deadline: {{i?.dealine}}</p>
                        <p>State: {{i?.state}}</p>
                    </div>
                </div>
            </li>
        </ul>
    <hr/>
</div>

