<div id="activities">
    <h4>Activities</h4>
    <hr/>
        <ul *ngFor="let i of userActivities">
            <li>
                <div class = "card">
                    <div class="card-body">
                        <h4>Type: {{i?.activityType?.name}}</h4>
                        <p>Content: {{i?.content}}</p>
                    </div>
                </div>
            </li>
        </ul>
    <hr/>
</div>
