
<div id="background">
    <div id="logo-contain">
        <div id="form-contain">
            <h1 class ="insider">Overthinker...</h1>
            <div class="space"></div>
            <router-outlet></router-outlet>
        </div>
    </div>

    <div id = "header-text">
        <h1 class ="insider">Overthink about...</h1>
        <h1 class ="insider">Overthink...</h1>
        <h1 id ="outsider">to be</h1>
        <h1 class ="insider">Overthinker</h1>
    </div>
</div>