#background{
    height: 100%;
    background: linear-gradient(180deg, rgba(72,187,121,100) 0%, rgba(255,255,255,100) 100%);
    display: flow-root;
}

#logo-contain{
    position: absolute;
    width: 40%;
    height: inherit;
    background: linear-gradient(0deg, rgba(72,187,121,100) 0%, rgba(255,255,255,100) 100%);
    box-shadow: 0em 0em 1em 1em rgba(0,0,0, 0.2);
}

#form-contain{
    position: absolute;
    left: 10%;
    top: 5%;
    width: 100%;
    height: 80%;
    border-radius: 16%/10%;
    z-index: 0;
}

#header-text{
    position: absolute;
    width: inherit;
    top: 15%;
    left: 38%;
}

.insider{
    text-align: left;
    font-size: 4.5em;
}

.outsider{
    font-size: 3em;
}

.space{
    height:  3em;
}