<div id="form-contain">
    <form novalidate (ngSubmit) = "login()" [formGroup] = "loginForm" id="form">
        <div class="space"></div>
        <div class="form-group">
            <h6>Username</h6>
            <input type="text" formControlName="username" class="form-control" placeholder="username...">
        </div>
        <div class="form-group">
            <h6>Password</h6>
            <input type="password" formControlName= "password" class="form-control" placeholder="password...">
        </div>
        <button type="submit" class="btn" id="button-submit">Login</button>
    </form>
</div>
