<div id="activities">
    <h4>Total Income: {{userRevenue!.totalIncome}}</h4>
    <h4>Income per month: {{userRevenue!.incomePerMonth}}</h4>
    <hr/>
        <ul *ngFor="let i of revenues">
            <li>
                <div class = "card">
                    <div class="card-body">
                        <h6>Month: {{i?.month}}</h6>
                        <p>income: {{i?.income}}</p>
                    </div>
                </div>
            </li>
        </ul>
    <hr/>
</div>

