.space{
    width: inherit;
    height: 5em;
}

.btn,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  text-decoration: none;
  outline: none;
  outline-offset: unset;
}

#sidebar{
    position: relative;
    width: 20%;
    height: inherit;
    background-color: rgba(255,255,255,255);
    box-shadow: 0em 0em 1em 1em rgba(0,0,0, 0.1);
    z-index: 9;
}

#sidebar ul{
    list-style-type: none;
}

.py-4{
    padding-bottom: 0em !important;
}

#header-of-header{
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0%;
    background-color: rgba(72, 187, 120, 100);
    box-shadow: 0em 0em 1em 1em rgba(0,0,0, 0.1);
    z-index: 8;
}

#menu-header-of-header{
    position: absolute;
    left: 50%;
}

#menu-header-of-header li{
    margin-top: 0.7em;
}

