<div class="vertical-nav bg-white" id="sidebar">

    <div class="py-4 px-3 mb-4 bg-white">
        <div class="media d-flex align-items-center">
            <div class="media-body">
                <div *ngIf = "isLogin;  else isntLoginHeader">
                    <!-- <ng-template #isLogin> -->
                        <h4>{{username}}</h4>
                        <p>{{role}}</p>
                    <!-- </ng-template> -->
                    </div>
                    <ng-template #isntLoginHeader>
                        <h4>Overthink</h4>
                        <p>Where're you gonna be?</p>
                    </ng-template>
            </div>
        </div>
    </div>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
           <hr>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Main
            </a>
        </li>
        <li class="nav-item">
            <a href="/profile/offer" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Offer
            </a>
        </li>
        <li class="nav-item">
            <a href="/profile/course" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Course
            </a>
        </li>
        <li class="nav-item">
            <a href="/profile/order" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Order
            </a>
        </li>
        <li class="nav-item">
            <a href="/profile/request" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Request
            </a>
        </li>
        <li class="nav-item">
            <hr>
         </li>
    </ul>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="/profile/active" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Active
            </a>
        </li>
        <li class="nav-item">
            <a href="/profile/revenue" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Revenue
            </a>
        </li>
        <li class="nav-item">
            <a href="/profile/evaluation" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Evaluation
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Calender
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Security
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark bg-white">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Setting
            </a>
        </li>
    </ul>  
</div>

<div id="header-of-header">
    <ul class="nav list-inline mb-0" id ="menu-header-of-header">
        <li class="nav-item">
            <a href="#" class="nav-link text-light">
                <i class="fa fa-th-large mr-2 text-primary fa-fw"></i>
                Events
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Messages
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Notifications
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Community
            </a>
        </li>
        <!-- <div *ngIf = "isLogin;  else isntLogin">
            <li class="nav-item">
                <a href = "#" class="nav-link text-light" (click) = "logout()">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    Logout
                </a>
            </li>
        </div>
        <ng-template #isntLogin>
            <li class="nav-item">
                    <a href="/authentication/login" class="nav-link text-light">
                   <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    Login
                </a>
            </li>
        </ng-template> -->
    </ul>
</div>