<div id="tasks">
    <h4>TASKS</h4>
    <hr/>
        <ul *ngFor="let i of tasks">
            <li>
                <div class = "card">
                    <div class="card-body">
                        <h4>Name: {{i?.name}}</h4>
                        <p>Task type: {{i?.taskType?.name}}</p>
                        <p>Content: {{i?.content}}</p>
                        <p>Priority: {{i?.priority}}</p>
                        <h6>Creator: {{i?.creator?.username}}</h6>
                        <p>Voided: {{i?.voided}}</p>
                        <button (click)="openEditForm(i)" class="edit btn btn-outline-dark"
                            data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                            title="Edit">&#xE254;</i></button>
                        <button (click)="voidedTask(i)" class= "btn btn-danger" title="Voided"></button>
                    </div>
                </div>
            </li>
        </ul>
    <hr/>
</div>

<div id="create-task">
    <form novalidate [formGroup] = "taskForm" id="form">
        <div class="space"></div>
        <div class="form-group">
            <h6>Task type</h6>
            <select formControlName = "taskType">
                <option *ngFor="let i of taskTypes" 
                    [value]="i.id">
                    {{i?.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <h6>Name</h6>
            <input type="text" formControlName= "name" class="form-control" placeholder="Name...">
        </div>
        <div class="form-group">
            <h6>Content</h6>
            <input type="text" formControlName="content" class="form-control" placeholder="Content...">
        </div>
        <div class="form-group">
            <h6>Priority</h6>
            <input type="text" formControlName= "priority" class="form-control" placeholder="Priority...">
        </div>
        <button type="submit" class="btn btn-success" (click) = "createTask()">Create</button>
        <button type="submit" class="btn btn-warning" (click) = "updateTask()">Update</button>
    </form>
</div>