<div *ngIf="isProfile, else notProfile">
    <app-header-profile></app-header-profile>
</div>
<ng-template #notProfile>
    <app-header></app-header>
</ng-template>
<div id="router-outlet-main">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>